/* Меню */
* {
    box-sizing: border-box;
}

.game_img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.game_link {
    position: fixed;
    bottom: 25px;
    right: 20px;
    z-index: 150px;
    border-radius: 50%;
    border: none;
    vertical-align: middle;
}


@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: local("PT Sans"), local("PTSans-Regular"),
        url(https://fonts.gstatic.com/s/ptsans/v11/jizaRExUiTo99u79D0KEwA.ttf) format("truetype");
}

html,
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #eee;
}

body {
    font-family: "PT Sans", Arial, Verdana;
    background-color: #eee;
}

.logo {
    width: 385px;

}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    margin: auto;
    position: relative;
    background-color: #2c3e50;
    z-index: 7;
}

.menu li {
    float: left;
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.menu a {
    display: -webkit-box;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    z-index: 9;
}

a.active {

    pointer-events: auto;
}

li.slider {
    width: 25%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    z-index: 8;
    -webkit-transition: left 0.4s, background-color 0.4s;
    transition: left 0.4s, background-color 0.4s;
}

.menu li:nth-child(1):hover~.slider,
.menu li:nth-child(1):focus~.slider,
.menu li:nth-child(1):active~.slider {
    left: 0;
    background-color: #3498db;
}

.menu li:nth-child(2):hover~.slider,
.menu li:nth-child(2):focus~.slider,
.menu li:nth-child(2):active~.slider {
    left: 25%;
    background-color: #9b59b6;
}

.menu li:nth-child(3):hover~.slider,
.menu li:nth-child(3):focus~.slider,
.menu li:nth-child(3):active~.slider {
    left: 50%;
    background-color: #e67e22;
}

.menu li:nth-child(4):hover~.slider,
.menu li:nth-child(4):focus~.slider,
.menu li:nth-child(4):active~.slider {
    left: 75%;
    background-color: #16a085;
}

/* Конец меню */

/* login */
.login {
    width: 35px;
    height: 35px;
    vertical-align: middle;
    position: absolute;
    top: 28px;
    right: 40px;
}

/* Форма записи*/
.singup {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(65, 30, 221);
    height: 220px;
    width: 78%;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.fless {
    text-align: center;
    padding-top: 25px;
}

.input_singup {
    font-size: 20px;
    height: 35px;
    border-radius: 50px;
    border: none;
    outline: none;
    padding-left: 15px;
}

.btn_singup {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    background-color: crimson;
    font-size: 20px;
    height: 39px;
    width: 250px;
    border-radius: 50px;
    border: none;

}

.form_singup {
    padding-top: 15px;


}

a.agreement {
    color: white;
}




img.info_h1 {
    width: device-width;
}